@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');


@theme {
  --font-geologica: "Geologica", sans-serif;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;;
}


:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-bg-color: #333333;
  --header-text-color: #ffffffe3;
  --main-bg-color: #FFFFFF;
  --main-text-color: #333333;
}


@plugin 'tailwind-scrollbar';
